.header-menu {
	// .header-menu__column
	&__column {
		padding: 0.2rem 0;
		@include flex-align-center-justify-center;
	}

	// .header-menu__logo
	&__logo {
		height: 2.6rem;
		width: 4rem;
		background: url('../img/header/logo.png') center / contain no-repeat;
		@include _690 {
		}
	}

	// .header-menu__search
	&__search {
		height: 100%;
		padding: 0.2rem 0;
		@include flex-align-center;
	}

	// .header-menu__arrow-search
	&__arrow-search {
		margin: 0 1rem;
		width: 4rem;
		height: 100%;
		@include flex-align-center-justify-space-between;

		.icon-angle-right,
		.icon-angle-left {
			font-size: 1.8rem;
		}
	}

	// .header-menu__items-search
	&__items-search {
		text-align: center;
		font-size: 1.4rem;
		height: 100%;
		width: 28rem;
		border: 1px solid $border-color;
		border-radius: 0.5rem;
		background: $background-selected;
		color: $font-comment-collor;
		@include _375 {
			width: 25rem;
		}
	}
}

.header-content {
	// .header-content__header
	&__header {
		display: grid;
		grid-template-columns: 4rem 1fr;
		border-bottom: 1px solid $border-color;
		background: $background-color-title;
	}

	// .header-content__menu
	&__menu {
		display: grid;
		grid-template-columns: max-content 1fr max-content;
		white-space: nowrap;
		letter-spacing: 1.2px;
		color: $blue-light;
		background: $background-thumb;

		@include _690 {
			grid-template-columns: max-content 1fr max-content max-content;
		}
		@include _490 {
			grid-template-columns: max-content 1fr 6rem max-content;
		}
	}

	// .header-content__menu-column
	&__menu-column {
		display: flex;
		justify-items: flex-start;

		&:nth-child(2) {
			border: 1px $border-color;
			border-style: none solid;
			@include _690 {
				display: none;
			}
		}

		&:nth-child(3) {
			display: none;
			@include _690 {
				border: 1px solid $border-color;
				border-style: none solid;
				display: block;
				font-size: 2.4rem;
			}
		}

		&:nth-child(5) {
			margin-right: 0.5rem;
			@include _min-690 {
				display: none;
			}
		}
	}

	// .header-content__item-btn
	&__item-btn {
		height: 100%;
		@extend .grad_underline;
	}

	// .header-content__item-btn--terminal
	&__item-btn--terminal {
		position: relative;
		color: $blue-light-not-active;
		min-width: 6rem;
		width: 100%;

		.icon-terminal {
			width: 6rem;

			&::before {
				background: $background-thumb;
				min-width: 6rem;
				width: 6rem;
				height: 4rem;
				transition: all 0.3s ease-in-out;
				@include flex-align-center-justify-center;
			}
		}

		&._active {
			.icon-terminal {
				border-radius: 3px;
				background: #000;
				color: $blue-light;

				&::before {
					scale: -1.1;
					position: absolute;
					box-shadow: 0px 0px 4px 1px $boxShadow;
					border: 1px solid $border-color;
					border-radius: 3px;
					transform: translateY(-3px);
				}
			}
		}
		@include flex-justify-center;
	}

	// .header-content__item-content
	&__item-contact {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: relative;
		padding: 0 2rem;

		&:active {
			color: $blue-light-not-active;
		}

		@include _490 {
			padding: 0 0.5rem;
		}
	}

	// .header-content__logo
	&__name {
		text-shadow: $orange 1px 0 10px;
		padding: 0 4rem;
		height: $headerHeight;
		font-size: 1.4rem;
		line-height: 285.714286%; /* 4rem/1.4 */

		@include _490 {
			padding: 0 0.5rem;
		}
	}

	// .header-content__link
	&__link {
		position: relative;
		height: 100%;
		width: 100%;
		@include flex-align-center-justify-center;
		span {
			text-shadow: 1px 0 10px $darkcyan;
			@include _490 {
				display: none;
			}
		}

		.icon-e-mail {
			vertical-align: middle;
			position: absolute;
			top: 0;

			font-size: 2.6rem;
			color: $blue-light-not-active;
			@include _min-490 {
				display: none;
			}
		}
	}
}

.menu-top {
	// .menu-top__items
	&__items {
		z-index: 9;
		height: 100%;
		cursor: pointer;
		@include flex-align-center;

		@include _690 {
			border: 1px solid $border-color;
			background: $background-active-bar;
			border-radius: 0.5rem;
			flex-direction: column;
			align-items: start;
			width: 100%;
		}
	}

	// .menu-top__item-btn
	&__item-btn {
		height: 100%;
		width: 100%;
		cursor: pointer;
		padding: 0 2rem;
		color: $blue-light-not-active;

		&:hover {
			color: $blue-light;
			.folder-directory {
				fill: $blue-light;
			}
		}

		i {
			font-size: 1.8rem;
			margin-right: 1rem;
		}

		@include _690 {
			height: 4rem;
			border-bottom: 1px solid $border-color;

			&:not(:last-child) {
				margin-bottom: 1rem;
				line-height: 250%; /* 4rem/1.6 */
			}
		}

		// .menu-top__item-btn _active
		&._active {
			position: relative;
			background-size:
				0 1px,
				calc(100% - 0px) 1px;

			@include _min-690 {
				color: $blue-light;

				&::after {
					position: absolute;
					left: 0;
					content: '';
					width: 100%;
					height: 100%;
					background: $background-selected;
				}
			}

			.folder-open-directory {
				display: block;
				fill: $blue-light;
			}

			.folder-directory {
				display: none;
			}
		}

		@include _min-690 {
			&:not(:last-child) {
				border-right: 1px solid $border-color;
			}
		}

		@extend .grad_underline;
		@include flex-align-center;
	}

	// .menu-top__link
	&__link {
		height: 100%;
		width: 100%;
		@include flex-align-center;
	}

	// .menu-top__svg-img
	&__svg-img {
		margin-right: 1rem;
		width: 3.5rem;
		height: 2.5rem;
		fill: $blue-light-not-active;

		@include _690 {
			width: 2rem;
		}

		&.folder-open-directory {
			display: none;
		}
	}
}

.burger-bottom {
	z-index: 10;

	// .burger-bottom__items
	&__items {
		border: 1px $border-color;
		border-style: none solid;
	}
}
