.terminal {
	display: flex;
	flex-direction: column-reverse;
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;

	// .terminal__items
	&__items {
		flex: 0 1 100%;
		overflow: hidden;
		height: auto;
		max-height: 0;
		z-index: 3;
		transition: max-height 0.5s ease-in-out;

		&::-webkit-scrollbar {
			width: 3px;
		}
	}

	// .terminal__title
	&__title {
		position: sticky;
		top: 0;
		width: 100%;
		padding: 0 1.5rem;
		background: $background-color-title;
		height: $titleHeight;
		border-bottom: 1px solid $border-color;
		@include flex-align-center;
	}

	// .terminal__title-col
	&__title-col {
		flex: 0 100%;
		color: $blue-light;
		.icon-terminal-arw {
			justify-content: start;
			font-size: 2.4rem;
			opacity: 0.7;
		}
	}

	// .terminal__close-btn
	&__close-btn {
		cursor: pointer;
		height: 2.7rem;
		width: 2.7rem;
		border-radius: 0.7rem;
		color: $blue-light;

		&:hover {
			background: $background-selected;
			color: $orange;
		}

		.icon-cross-middle {
			&::before {
				font-size: 3rem;
				font-weight: lighter;
			}
		}
	}

	// .terminal__body
	&__body {
		background: $background-terminal;
		display: flex;
		padding-left: 2rem;
		height: calc(100% - 3rem);
	}

	// .terminal__column
	&__column {
		overflow: hidden;
		max-height: 100%;

		&:nth-child(1) {
			flex: 0 1 100%;
			padding-right: 1rem;
			@include flex-justify-center;
			.hello-page__column {
				align-content: center;
			}

			.hello-page__row {
				min-height: 115%;
			}
		}

		&:nth-child(2) {
			background-color: $background-active-bar;
			flex: 0 1 6rem;
			border-left: 1px solid $border-color;
		}

		.hello-page__column {
			padding: 0;
		}
	}
}
