.mainslide {
	// .mainslide__body
	&__body {
		min-height: 125%;
		display: flex;
		justify-content: center;
	}

	// .mainslide__slide
	&__slide {
		opacity: 0.5;
		display: inline-flex;
		flex-wrap: wrap;
		@include flex-justify-center;
		flex-direction: column;
		align-self: center;

		&.swiper-slide-active {
			cursor: pointer;
			opacity: 1;
			pointer-events: all;
		}
	}
}

.content-mainslide {
	// .content-mainslide__image
	&__image {
		border: 1px solid $border-color;
		height: 100px;
		overflow: hidden;
		border-radius: 10px;
		box-shadow: 0 1px 10px #000;

		img {
			position: relative;
			width: 100%;
			height: auto;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			object-fit: cover;
		}
	}
}

.modal {
	overflow: hidden;
	overflow-y: auto;
	display: none;
	position: fixed;
	padding: 7rem 0;
	z-index: 9;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: $background-transparent;
	opacity: 0;

	// .modal__image
	&__image {
		animation-name: zoom;
		animation-duration: 0.5s;
		margin: auto;
		display: block;
		width: 80%;
		max-width: 700px;
		pointer-events: none;
	}

	&._show {
		display: flex;
		justify-content: center;
		opacity: 1;
	}

	span {
		width: 100%;
		animation-name: zoom;
		animation-duration: 0.5s;
		position: fixed;
		top: 1.5rem;
		color: $blue-light;
		font-size: 4rem;
		font-weight: bold;

		&:hover,
		&:focus {
			color: $blue-light-not-active;
			text-decoration: none;
			cursor: pointer;
		}
	}
}

@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(0);
	}

	to {
		-webkit-transform: scale(1);
	}
}

@keyframes zoom {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}
