.project-page {
	position: relative;
	height: 100%;
	overflow-x: hidden;
	&::-webkit-scrollbar {
		width: 0;
	}

	// .scills-page __title
	&__title {
		color: #88c0ff;
		font-size: 3rem;
	}

	// .scills-page __row
	&__row {
		padding: 2rem;
		display: grid;
		justify-items: center;
		gap: 2rem;
		overflow-x: hidden;
		grid-template-columns: 1fr 1fr 1fr;
		&::-webkit-scrollbar {
			width: 0;
		}
		scrollbar-width: none;
		@include _min-690 {
			max-height: 63.2rem;
		}
		@include _690 {
			grid-template-columns: 1fr;
		}
	}

	// .scills-page__column
	&__column {
		display: flex;
		border-radius: 16px 16px 0 0;
		height: min-content;
		overflow: hidden;
		transition: box-shadow 0.5s ease-in-out;

		&:hover {
			box-shadow: 0px 1px 7px $boxShadowSecond;
			img {
				scale: 1.6;
			}
		}
	}
}

.page-project {
	// .scills-page__image
	&__image {
		cursor: pointer;
		position: relative;
		background: var(--background-side-bar);
		display: flex;
		flex-direction: column;

		img {
			transition: scale 0.5s ease-in-out;
			object-fit: cover;
		}

		span {
			position: absolute;
			top: 1rem;
			right: 1rem;
			display: flex;
		}

		.icon-javascript {
			&::before {
				border-radius: 5px;
				overflow: hidden;
			}
		}

		[class*='icon-'] {
			font-size: 1.8rem;
			height: auto;
			color: var(--selected-color);
			&:not(:last-child) {
				margin-right: 0.5rem;
			}
		}
	}

	// .scills-page__text
	&__text {
		flex: 1 1 100%;
		padding: 1rem;
		line-height: 200%;
		margin-bottom: 0.5rem;
	}

	// .scills-page__button
	&__button {
		padding-left: 1rem;
		display: flex;
		margin-bottom: 1rem;
		a {
			line-height: 200%;
			padding: 0 1rem;
			border-radius: 4px;
			background-color: var(--background-selected);
			box-shadow: 0px 0px 3px $boxShadowSecond;
			&:hover,
			&:active {
				box-shadow: 0px 0px 1px $boxShadowSecond;
			}
		}
	}
}
