.hello-page {
	position: relative;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 100%;
	gap: 3rem;
	grid-template-columns: 1fr 6rem 1fr;
	opacity: 1;

	@include _min-690 {
		max-height: 63.6rem;
	}

	@include _690 {
		grid-template-columns: 1fr;
		grid-template-rows: 100%;
		gap: 0;
	}

	// .hello-page__column
	&__column {
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		min-height: 100%;
		overflow-x: hidden;

		&:nth-child(1) {
			justify-content: end;
			padding: 2.5rem 0;
			justify-content: center;

			@include _min-690 {
				justify-content: flex-end;
			}
		}

		&:nth-child(2) {
			border: 1px var(--border-color);
			border-style: none solid;
			justify-content: center;
			z-index: 4;
			background-color: var(--background-active-bar);

			@include _690 {
				grid-column: -2 / -1;
			}

			.hello-page__row {
				width: min-content;
			}
		}

		&:nth-child(3) {
			position: relative;
			z-index: 3;

			@include _min-690 {
				overflow: hidden;
				justify-content: flex-start;
				align-content: center;

				.hello-page__row {
					min-height: 125%;
				}
			}

			@include _690 {
				grid-column: -3 / -2;
				grid-row: 2 / 3;
				justify-self: center;
			}
		}

		&::-webkit-scrollbar {
			width: 0;
		}

		scrollbar-width: none;
	}

	//.hello-page__row
	&__row {
		margin: 0 2rem;
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
		max-width: 36rem;
		z-index: 3;

		@include _690 {
			align-items: start;
			.hello-page__title {
				flex: 0 1 10%;
			}

			.hello-page__text {
				flex: 0 1 20%;
			}

			.hello-page__footer {
				@include flex-align-center;
				flex: 0 1 15%;
			}
		}

		@include _320 {
			p {
				font-size: 1.4rem;
			}
		}
	}

	//.hello-page__pagination-number
	&__pagination-number {
		line-height: 100%;
		display: flex;
		gap: 1rem;
		flex-direction: column;
		align-items: flex-end;
		color: var(--font-color-not-active);
		font-weight: 100;

		.swiper-pagination-bullet {
			text-shadow: $orange 1px 0 10px;
			cursor: pointer;
			position: relative;
			@include flex-align-center-justify-center;

			&::before {
				content: '';
				position: absolute;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background: #00ffff1e;
				scale: 0;
				transition: scale 0.5s ease 0s;
			}
		}

		.swiper-pagination-bullet-active {
			color: var(--font-color-active);
			font-weight: 500;

			&::before {
				scale: 1;
				transition: scale 0.5s ease 0s;
			}
		}
	}

	// .hello-page__my-name
	&__privet {
		width: 100%;
		font-size: 1.6rem;
		color: var(--font-color-title);
		padding: 2rem 0 0;
		letter-spacing: 1.2px;

		p {
			line-height: 150%;
			&:not(:last-child) {
				margin-bottom: 1.5rem;
			}
		}

		@include _min-690 {
			p {
				&:nth-child(1) {
					font-size: 1.8rem;
					text-align: right;
				}
				&:nth-child(2) {
					text-align: left;
				}
			}
		}
	}

	// .hello-page__my-name
	&__my-name {
		padding: 0 0.5rem;
		border-top: 1px solid #c2eeff15;
		position: relative;
		color: var(--font-color-title);
		font-size: 3rem;
		white-space: nowrap;
		line-height: 200%; /* 4rem/2 */

		@include _375 {
			font-size: 20px;
		}
		span {
			display: inline-block;
			opacity: 0;
		}

		div {
			display: inline-block;
		}
	}

	// .hello-page__title
	&__title {
		margin-bottom: 3rem;
		opacity: 0;
		color: var(--font-color-second);
		font-family: var(--font-color-title);
		font-size: 2rem;
		font-weight: 450;
		line-height: normal;
	}

	// .hello-page__text
	&__text {
		text-indent: 1rem;
		opacity: 0;
		margin-bottom: 2rem;
		span {
			font-style: italic;
			color: var(--font-color-active);
			font-family: 'Fira Code', sans-serif;
		}
		p {
			&:not(:last-child) {
				padding-bottom: 1rem;
			}
		}
	}

	// .hello-page__footer
	&__footer {
		position: relative;
	}

	// .hello-page__link
	&__link {
		opacity: 0;
		font-size: 1.2rem;
		font-style: italic;
		line-height: 200%;
		> span {
			&:nth-child(1) {
				color: $font-color-var;
			}
			&:nth-child(2) {
				color: $font-color-var-name;
			}
		}
		a {
			> span {
				color: $font-color-other-var;
			}
		}
	}
}
