.mainslide {
	// .mainslide__body
	&__body {
		min-height: 110%;
		display: flex;
		justify-content: center;
	}

	// .mainslide__slide
	&__slide {
		opacity: 0.3;
		filter: grayscale(1);
		filter: sepia(70%) invert(100%);
		display: inline-flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-self: center;
		transition: all 0.9s ease 0s;
		transition:
			opacity 0.9s,
			filter 0.9s ease 0s;
		@include flex-justify-center;

		&.swiper-slide-active {
			filter: none;
			opacity: 1;
			cursor: pointer;
			pointer-events: all;
			color: #ffffff00;
		}
	}
}

.content-mainslide {
	// .content-mainslide__invisible
	&__invisible {
		display: none;
	}

	// .content-mainslide__image
	&__image {
		border: 1px solid var(--border-color);
		height: 100px;
		overflow: hidden;
		border-radius: 10px;
		margin-bottom: 2rem;

		img {
			position: relative;
			width: 100%;
			height: auto;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			object-fit: cover;
		}
	}
}
