.scills-page {
	display: flex;
	height: 100%;

	// .scills-page __column
	&__column {
		// margin: 0 1rem;
		// height: 100%;
		// flex: 0 1 50%;
		// display: grid;
		// justify-content: center;
		// align-content: center;
	}

	// .scills-page __title
	&__title {
		color: #88c0ff;
		height: 0;
		font-size: 3rem;

		span {
			display: inline-block;
			opacity: 0;
		}
		div {
			display: block;
		}
	}
}
