.modal {
	display: block;
	overflow-x: hidden;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	outline: 0;
	background-color: var(--background-transparent);
	opacity: 0;
	transition: opacity 0.5s linear;
	// display: none;

	&.bounceInn {
		animation-duration: 0.75s;
		animation-name: bounceIn;
	}

	&.bounceOutDown {
		animation-name: bounceOutDown;
	}

	&._show {
		display: block;
		opacity: 1;

		.modal__dialog {
			transform: translate(0, 0);
		}

		.modal__buttons {
			animation-name: zoomOpen;
			animation-duration: 0.5s;
		}
	}
	// .modal__dialog
	&__dialog {
		// transform: translate(0, -25%);
		transition: transform 0.4s ease-in-out;
		margin: 4rem 15px;

		@include _min-690 {
			margin: 4rem auto;
			max-width: 85rem;
		}
	}

	// .modal__body
	&__body {
		margin: 2rem auto;
	}

	// .modal__content
	&__content {
		position: relative;
		background-color: #fff;
		border: 1px solid #999;
		border-radius: 6px;
		box-shadow: 1px 1px 10px #000;
		background-clip: padding-box;
		overflow: hidden;
	}

	// .modal__image
	&__image {
		margin: 0 auto;
		display: block;
		pointer-events: none;
	}

	// .modal__buttons
	&__buttons {
		padding: 2rem;
		position: fixed;
		display: flex;
		justify-content: center;
		width: 100%;
		bottom: calc(50% - 3.85rem);
		color: black;
		font-size: 1.4rem;
		font-weight: 700;
		line-height: 200%;
		background-color: var(--font-color-not-active);
		box-shadow: 1px 1px 10px #00000098;
	}

	// .modal__buttons
	&__button {
		box-shadow: 1px 1px 10px #00000098;
		transition: box-shadow 0.1s ease-in-out;
		cursor: pointer;
		padding: 0.5rem 1rem;
		border-radius: 1rem;
		background-color: var(--font-color-active);
		&:active {
			box-shadow: 1px 1px 3px #cecece98;
		}
		&:not(:last-child) {
			margin-right: 4rem;
		}
	}
}

@keyframes zoomOpen {
	// from {
	// 	background-color: var(--font-color-active);
	// 	transform: scale(0);
	// }

	// to {
	// 	background-color: var(--font-color-not-active);
	// 	transform: scale(1);
	// }
}
@keyframes bounceOutDown {
	20% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0);
	}
	40%,
	45% {
		-webkit-transform: translate3d(0, -20px, 0);
		opacity: 1;
		transform: translate3d(0, -20px, 0);
	}
	to {
		-webkit-transform: translate3d(0, 2000px, 0);
		opacity: 0;
		transform: translate3d(0, 2000px, 0);
	}
}
@keyframes bounceIn {
	0%,
	20%,
	40%,
	60%,
	80%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	0% {
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}
	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}
	40% {
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
		transform: scale3d(0.9, 0.9, 0.9);
	}
	60% {
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		opacity: 1;
		transform: scale3d(1.03, 1.03, 1.03);
	}
	80% {
		-webkit-transform: scale3d(0.97, 0.97, 0.97);
		transform: scale3d(0.97, 0.97, 0.97);
	}
	to {
		-webkit-transform: scaleX(1);
		opacity: 1;
		transform: scaleX(1);
	}
}
