.mainslide {
	// .mainslide__body
	&__body {
		min-height: 125%;
		display: flex;
		justify-content: center;
	}

	// .mainslide__slide
	&__slide {
		opacity: 0.3;
		display: inline-flex;
		flex-wrap: wrap;
		@include flex-justify-center;
		flex-direction: column;
		align-self: center;

		&.swiper-slide-active {
			cursor: pointer;
			opacity: 1;
			pointer-events: all;
		}
	}
}

.content-mainslide {
	// .content-mainslide__invisible
	&__invisible {
		display: none;
	}

	// .content-mainslide__image
	&__image {
		border: 1px solid var(--border-color);
		height: 100px;
		overflow: hidden;
		border-radius: 10px;
		box-shadow: 0 1px 10px $boxShadow;

		img {
			position: relative;
			width: 100%;
			height: auto;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			object-fit: cover;
		}
	}
}
