.side-bar {
	height: 100%;
	display: flex;
	// opacity: 0;

	// .side-bar__active-bar
	&__active-bar {
		background: var(--background-active-bar);
	}

	// .side-bar__6menu
	&__menu {
		position: absolute;
		white-space: nowrap;
	}
}

.menu {
	left: 4rem;
	height: 100%;
	width: calc(100% - 4rem);

	// .menu__body
	&__body {
		height: 100%;
		width: 100%;
		white-space: nowrap;
	}

	// .menu__parent
	&__parent {
		position: absolute;
		z-index: 3;
		border: 1px solid var(--border-color);
		width: auto;
		width: 0;
		height: 100%;
		overflow: hidden;
		background: var(--background-side-bar);
		transition: width 0.3s ease-out;

		&._select {
			width: 100%;

			@include _min-490 {
				width: 33.5rem;
				box-shadow: 1px 0px 2px 0px #000;
			}
		}
	}

	// .menu__settings
	&__settings {
		user-select: none;
		position: absolute;
		z-index: 9;
		bottom: -0.5rem;
		max-width: 30rem;
		background: var(--background-color-title);
		box-shadow: 3px 3px 10px #000;
		border: 1px solid #0000005b;
		border-radius: 0.4rem;
	}
}

.parent-menu {
	// .parent-menu__list
	&__list {
		position: relative;
		padding: 1.5rem 0;
		height: 100%;
		border: 1px solid var(--font-color-not-active);
		border-right-style: none;
		color: var(--font-body-color) #707bb4;
		font-size: 1.6rem;
	}

	// .parent-menu__list-item
	&__list-item {
		display: grid;
		grid-template-rows: max-content 0fr;
		transition: all 0.4s ease-in-out;

		&._open {
			grid-template-rows: max-content 1fr;

			.parent-menu__title {
				color: var(--font-color-active);
			}

			.icon-angles-right-solid {
				transform: rotate(-90deg);
				scale: -1;
			}

			.parent-menu__sub-menu {
				background-size:
					0 1px,
					calc(95% - 0px) 1px;
				transition: background-size 1s;
				transition-property: background-size;
				transition-duration: 0.3s;
				transition-delay: 0.4s;
			}
		}
	}

	// .parent-menu__title

	&__title {
		cursor: pointer;
		padding-left: 0.8rem;
		line-height: 170%;
		background-color: var(--background-selected);
		border-radius: 0.3rem;
		border: 1px solid var(--border-color);
		border-style: solid none;
		@include flex-align-center;

		.icon-angles-right-solid {
			scale: 1;
			margin-right: 1rem;
			transition: all 0.3s ease-in-out;
			font-size: 1.2rem;
		}
	}

	// .parent-menu__sub-menu
	&__sub-menu {
		margin: 0 1.4rem;
		position: relative;
		padding-bottom: 1rem;
		min-height: 0;
		overflow: hidden;
		transition: min-height 0.4s ease-in-out;
		background: linear-gradient(to left, transparent, transparent),
			linear-gradient(to left, var(--border-color), var(--border-color));
		background-size:
			100% 1px,
			0 1px;
		background-position:
			100% 100%,
			0 100%;
		background-repeat: no-repeat;

		&::before {
			content: '';
			width: 1px;
			height: 100%;
			position: absolute;
			top: 0;
			background: linear-gradient(
				to bottom,
				var(--border-color),
				var(--border-color)
			);
			background-position: center;
			background-size: 1px calc(100% - 0.5rem);
			background-repeat: no-repeat;
		}
	}

	// .parent-menu__item
	&__item {
		gap: 2rem;
		display: grid;
		margin: 0.5rem 0;
	}

	// .parent-menu__link
	&__link {
		padding-left: 1rem;
		line-height: 200%;
		width: 95%;
		border: 1px solid transparent;
		@include flex-align-center;

		span {
			@include flex-align-center;
			.icon-git-hub {
				margin-right: 0.5rem;
				color: $orange;
				font-size: 1.2rem;
			}
		}

		.icon-arrow-right {
			margin-right: 1rem;
		}

		.icon-tab {
			margin-left: 1rem;
		}

		&:hover {
			color: var(--font-color-active);
			background: var(--background-selected);
			border: 1px solid var(--border-color);
		}
	}
}

.submenu-child {
	display: grid;
	grid-template-rows: max-content 0fr;
	transition: all 0.3s ease-in-out;

	&._open {
		grid-template-rows: max-content 1fr;
		.submenu-child__item {
			background-size:
				0 1px,
				calc(95% - 0px) 1px;
			transition: background-size 1s;
			transition-property: background-size;
			transition-duration: 0.3s;
			transition-delay: 0.4s;
		}
	}

	// .submenu-child__title
	&__title {
		gap: 1rem;
		@include flex-align-center;
	}

	// .submenu-child__item
	&__item {
		margin: 0 1.4rem;
		position: relative;
		min-height: 0;
		overflow: hidden;
		transition: min-height 0.4s ease-in-out;
		background: linear-gradient(to left, transparent, transparent),
			linear-gradient(to left, var(--border-color), var(--border-color));
		background-size:
			100% 1px,
			0 1px;
		background-position:
			100% 100%,
			0 100%;
		background-repeat: no-repeat;

		&::before {
			content: '';
			width: 1px;
			height: 100%;
			position: absolute;
			top: 0;
			background: linear-gradient(
				to bottom,
				var(--border-color),
				var(--border-color)
			);
			background-position: center;
			background-size: 1px calc(100% - 0.5rem);
			background-repeat: no-repeat;
		}

		gap: 2rem;
		@include flex-align-center;
	}

	// .submenu-child__link
	&__link {
		padding-left: 1rem;
		line-height: 200%;
		width: 95%;
		border: 1px solid transparent;
		@include flex-align-center;

		span {
			@include flex-align-center;
			.icon-git-hub {
				margin-right: 0.5rem;
				color: $orange;
				font-size: 1.2rem;
			}
		}

		.icon-arrow-right {
			margin-right: 1rem;
		}

		.icon-tab {
			margin-left: 1rem;
		}

		&:hover {
			color: var(--font-color-active);
			background: var(--background-selected);
			border: 1px solid var(--border-color);
		}
	}
}

.setting-menu {
	display: none;

	// .setting-menu__wrapper
	&__wrapper {
		display: grid;
		transition: all 0.5s ease-in-out;
	}

	&._open {
		display: block;
	}

	// .setting-menu__body
	&__body {
		min-height: 0;
	}

	// .ssetting-menu__list
	&__list {
		&:not(:last-child) {
			margin-bottom: 0rem;
			border-bottom: 1px solid #0000005b;
		}
	}

	//.setting-menu_link
	&__link {
		position: relative;
		font-size: 1.3rem;
		font-weight: 400;
		line-height: 178.571429%; /* 2.5/1.4 */
		border-radius: 0.3rem;
		padding: 0 2rem;
		color: var(--font-body-color);
		letter-spacing: 0.7px;
		@include flex-align-center-justify-space-between;

		&:hover {
			color: var(--font-color-active);
		}

		.icon-angle-right {
			position: absolute;
			right: 0;
			width: 2.5rem;
			font-size: 1.8rem;
		}

		[class*='icon-'] {
			pointer-events: none;
		}
	}

	//. setting-menu__parent
	&__parent {
		position: relative;
		&._active {
			.setting-menu__sub-menu {
				display: block;
				pointer-events: all;
			}
		}
	}

	// .setting-menu__sub-menu
	&__sub-menu {
		display: none;
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 100%;
		pointer-events: none;
		border-radius: 0.4rem;
		background: #0e0e13;
		box-shadow: 3px 3px 10px #000;
	}

	li {
		&:hover {
			background: var(--background-side-bar);
			color: $gray;
		}
		padding: 0.2rem;
	}
}

.active-bar {
	z-index: 2;

	// .active-bar__items
	&__items {
		height: 100%;
		@include flex-align-center-justify-space-between;
		flex-direction: column;
	}

	// .active-bar__item
	&__item,
	&__sub-item {
		cursor: pointer;
		height: 4rem;
		width: $sidebarWidth;
		font-size: 2rem;
		text-align: center;
		@include flex-align-center-justify-center;

		[class*='icon-'] {
			margin-right: 0;
			width: 100%;
			color: var(--font-color-not-active);
		}

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 4rem;
			height: 4rem;
		}

		&._select {
			background: var(--background-selected);
			border-left: 0.2rem solid var(--selected-color);
			span {
				color: var(--font-color-active);
			}
		}
	}

	&__sub-item {
		&:nth-child(2) {
			span {
				background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='416' height='448' viewBox='0 0 416 448'%3E%3Ctitle%3E%3C/title%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath fill='%238bb0ff6c' d='M384 328v-176c0-13.25-10.75-24-24-24h-176c-13.25 0-24-10.75-24-24v-16c0-13.25-10.75-24-24-24h-80c-13.25 0-24 10.75-24 24v240c0 13.25 10.75 24 24 24h304c13.25 0 24-10.75 24-24zM416 152v176c0 30.75-25.25 56-56 56h-304c-30.75 0-56-25.25-56-56v-240c0-30.75 25.25-56 56-56h80c30.75 0 56 25.25 56 56v8h168c30.75 0 56 25.25 56 56z'%3E%3C/path%3E%3C/svg%3E")
					center no-repeat;
				background-size: 2rem;
			}
		}
		&._select {
			&:nth-child(2) {
				span {
					background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='477' height='448' viewBox='0 0 477 448'%3E%3Ctitle%3E%3C/title%3E%3Cg id='icomoon-ignore'%3E%3C/g%3E%3Cpath fill='%237796f3' d='M445.25 232.75c0-7-7.75-8.75-13.25-8.75h-272c-13.25 0-30.75 8.25-39.25 18.5l-73.5 90.75c-2.25 3-4.5 6.25-4.5 10 0 7 7.75 8.75 13.25 8.75h272c13.25 0 30.75-8.25 39.25-18.75l73.5-90.75c2.25-2.75 4.5-6 4.5-9.75zM160 192h192v-40c0-13.25-10.75-24-24-24h-144c-13.25 0-24-10.75-24-24v-16c0-13.25-10.75-24-24-24h-80c-13.25 0-24 10.75-24 24v213.25l64-78.75c14.5-17.75 41.25-30.5 64-30.5zM477.25 232.75c0 11-4.75 21.5-11.5 30l-73.75 90.75c-14.25 17.5-41.5 30.5-64 30.5h-272c-30.75 0-56-25.25-56-56v-240c0-30.75 25.25-56 56-56h80c30.75 0 56 25.25 56 56v8h136c30.75 0 56 25.25 56 56v40h48c17 0 34 7.75 41.5 23.75 2.5 5.25 3.75 11 3.75 17z'%3E%3C/path%3E%3C/svg%3E")
						center no-repeat;
					background-size: 2.1rem;
				}
			}
		}
	}
	// .active-bar__items-bottom
	&__items-bottom {
		border-top: 1px solid var(--border-color);
	}
}

.submenu-settings {
	//. sub-menu__list
	&__list {
		border: 1px solid rgba(0, 0, 0, 0.3568627451);
		border-radius: 0.5rem;
	}

	//. sub-menu__link
	&__link {
		width: 100%;
		font-size: 1.3rem;
		font-weight: 400;
		line-height: 178.571429%; /* 2.5/1.4 */
		border-radius: 1.3rem;
		padding: 0 2rem;
		color: var(--font-body-color);
		letter-spacing: 0.7px;
		@include flex-align-center-justify-space-between;

		&:hover {
			color: var(--font-color-active);
		}

		li {
			&:hover {
				background: var(--background-side-bar);
				color: $gray;
			}
			padding: 0.2rem;
		}
	}
}
