footer.footer 
	._column 
		._items  find me in:
			a(href="http://t.me/allexandrw" target='_blanck')._items-link
				+iconfont('telegram')
	._column 
		//- include ../modules/clock
	._column
		._items Git-Hub
			a(href="https://github.com/Dennchik" target='_blanck')._items-link 
				+iconfont('git-hub-circle')
