nav.breadcrumbs 
  ul._list 
    li._item
      a(href="")._link _scills
    li._item
      .icon-angle-right
      a(href="")._link _scills
    li._item
      .icon-angle-right
      a(href="")._link _scills
