.loaded {
	.page {
		&__header {
			transform: translate(0, 0);
			box-shadow: 1px 1px 3px $boxShadowSecond;
			transition: all 0.5s ease-in-out 0.5s;
		}
		&__footer {
			transform: translate(0, 0);
			transition: transform 0.5s ease-in-out 0.5s;
		}
		&__desktop {
			border: 1px solid var(--font-color-not-active);
			box-shadow: 1px 0px 5px $boxShadow;
			transition: all 0.7s ease-in-out 0.7s;
		}
	}
	.bgblurs-box {
		opacity: 1;
		transition: opacity 0.5s ease-in-out 0.8s;
	}

	.main-content {
		&__body {
			opacity: 1;
			transition: opacity 0.8s ease-in-out 0.8s;
		}
	}
}

.page {
	// .page__body
	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100vh;
	}

	// .page__desktop
	&__desktop {
		overflow: hidden;
		position: relative;
		display: flex;
		flex-direction: column;
		border-radius: 0.7rem;
		height: 100vh;
		@include _min-690 {
			max-height: 74rem;
		}
		@include _690 {
			height: calc(100vh - 2.2rem);
		}
	}

	// .page__header
	&__header {
		z-index: 8;
		transform: translate(0, -100%);
	}

	// .page__content
	&__content {
		flex: 0 1 100%;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	// .page__footer
	&__footer {
		background: var(--background-side-bar);
		border-top: 1px solid var(--border-color);
		color: var(--font-color-not-active);
		z-index: 3;

		transform: translate(0, 100%);
		@include flex-align-center;
	}
}

.editor {
	position: relative;
	width: 100%;
	width: 100%;
	height: 100%;
	flex-direction: column;
	@include flex-justify-center;

	.terminal__column {
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}

	&._open {
		z-index: 2;

		.terminal__column {
			opacity: 1;
		}

		.terminal__items {
			max-height: 100%;
		}
	}

	&::-webkit-scrollbar {
		width: 0;
	}

	// .editor__section
	&__section {
		z-index: 1;
		opacity: 1;
		width: 100%;
		height: 100%;
		transform: rotate(0) scale(1);
		transition-property: transform, opacity;
		transition-duration: 0.5s;
		transition-delay: 0.7s, 0.1s;
	}

	// .editor__terminal
	&__terminal {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
