.page {
	// .page__body
	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100vh;
	}

	// .page__desktop
	&__desktop {
		overflow: hidden;
		position: relative;
		height: 74rem;
		display: flex;
		flex-direction: column;
		border-radius: 0.7rem;
		border: 1px solid $blue-light-not-active;
		box-shadow: 1px 0px 5px $boxShadow;

		@include _690 {
			min-height: calc(100vh - 2.2rem);
		}
	}

	// .page__header
	&__header {
		height: calc($headerHeight * 2);
		box-shadow: 1px 1px 3px $boxShadowSecond;

		z-index: 8;
	}

	// .page__content
	&__content {
		flex: 0 1 100%;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	// .page__footer
	&__footer {
		height: $footerHeight;
		background: $background-side-bar;
		border-top: 1px solid $border-color;
		color: $blue-light;
		z-index: 3;
		@include flex-align-center;
	}
}

.editor {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	.terminal__column {
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}

	&._open {
		z-index: 2;

		.terminal__column {
			opacity: 1;
		}

		.terminal__items {
			max-height: 100%;
		}
	}

	&::-webkit-scrollbar {
		width: 0;
	}

	// .editor__section
	&__section {
		height: 100%;
		padding: 0 1.5rem;
		z-index: 1;
	}

	// .editor__terminal
	&__terminal {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
