.hello-page.el-anime(data-x='170')
	._column 
		._row
			._header
				._privet 
					p Всем Привет!
					p Меня зовут:
				h1._my-name
					span A
					span л
					span е
					span к 
					span с
					span а 
					span н 
					span д 
					span р
					div
					span В
					span а
					span с
					span и 
					span л
					span ь 
					span е 
					span в 
				._title.
					Я > Front-end разработчик
			._text 
				p /* В данный момент я являюсь частным предпринимателем, но хотел бы кардинально изменить свой род деятельности. */
				p /* С момента появления 
					span Интернета 
					| я занимаюсь версткой на уровне сильного увлечения. Я хочу взять на себя больше работы и повысить свои навыки веб-разработчика. */

			._footer
				._link 
					span const 
					span &nbsp;githubLink
					span &nbsp;&#61;&nbsp;
					+link('', 'https://github.com/Dennchik', 'https://github.com/example/url')(target="_blank" data-type="link")
	._column.gutter-col(data-move-el="[{'bp-max': 690, 'index': 1, 'target': '.bp-2'}]") 
		._row 
			._pagination-number 
	._column(data-move-el="[{'bp-max': 690, 'index': 1, 'target': '.bp-1'}]")
		include ./swiper
