.hello-page.el-anime 
	._column 
		._row
			._header
				._privet 
					p Всем Привет!
					p Меня зовут:
				._content-grid 
					._my-name
						span.el A
						span.el л
						span.el е
						span.el к
						span.el с
						span.el а
						span.el н
						span.el д
						span.el р
						div
						span.el В
						span.el а
						span.el с
						span.el и
						span.el л
						span.el ь
						span.el е
						span.el в
					._my-name._shadow
						span A
						span л
						span е
						span к
						span с
						span а
						span н
						span д
						span р 
						div
						span В
						span а
						span с
						span и
						span л
						span ь
						span е
						span в
				._title.
					Я > Front-end разработчик
			._text 
				p /* В данный момент я являюсь частным предпринимателем, но стремлюсь к радикальным изменениям в моей профессиональной сфере. В тот великий день, когда человечество узнало о существовании 
					span "ИНТЕРНЕТА" 
					| , я стал увлекаться версткой и считаю себя опытным верстальщиком. Теперь я хочу расширить свои горизонты и стать веб-разработчиком более высокого уровня. Моя цель - взять на себя более сложные проекты, глубже погрузиться в мир неизведанного и постоянно совершенствовать свои навыки в этой области */
				p /* Моя страсть к верстке привела меня к решению переключиться на полноценную веб-разработку. Готов вложить все усилия в изучение новых технологий и методов, чтобы стать востребованным специалистом в этой динамичной области. Мое стремление к профессиональному росту и готовность к принятию вызовов делают меня идеальным кандидатом для новых проектов и задач в сфере IT. */

			._footer
				._link 
					span const 
					span &nbsp;githubLink
					span &nbsp;&#61;&nbsp;
					+link('', 'https://github.com/Dennchik', 'https://github.com/example/url')(target="_blank" data-type="link")
	._column.gutter-col(data-move-el="[{'bp-max': 690, 'index': 1, 'target': '.bp-2'}]") 
		._row 
			._pagination-number 
	._column(data-move-el="[{'bp-max': 690, 'index': 1, 'target': '.bp-1'}]")
		include ./swiper
