.side-bar(data-action)
	.active-bar._active-bar
		._items
			._items-top
				._item._select 
					span 📑
				._sub-item  
					span 
			._items-bottom  
				._item.-control 
					+iconfont('cogs-gear')
	.menu._menu
		._body
			.parent-menu._parent
				ul._list 
					li._list-item
						._title
							+iconfont('angles-right-solid')
							span Projects 
						._sub-menu
							._item 
								.submenu-child 
									._title
										a(target="_blank" href="http://dennchik.github.io/coronaWebsite/build/")._link coronaWebsite 
											span &nbsp;(
												+iconfont('git-hub')
												| Git-page)
										+iconfont('tab') 
									._item 
										a(target="_blank" href="http://github.com/Dennchik/coronaWebsite")._link 
											+iconfont('arrow-right')
											| coronaWebsite
											span &nbsp;(
												+iconfont('git-hub')
												| Git-rep...) 
							._item 
								.submenu-child 
									._title
										a(target="_blank" href="http://dennchik.github.io/Relvise/build/")._link Relvise 
											span &nbsp;(
												+iconfont('git-hub')
												| Git-page)
										+iconfont('tab')
									._item 
										a(target="_blank" href="http://github.com/Dennchik/Relvise")._link 
											+iconfont('arrow-right')
											| Relvise
											span &nbsp;(
												+iconfont('git-hub')
												| Git-rep...) 
							._item 
								.submenu-child 
									._title
										a(target="_blank" href="http://dennchik.github.io/Clear-fit/public/")._link Clear-fit 
											span &nbsp;(
												+iconfont('git-hub')
												| Git-page)
										+iconfont('tab') 
									._item 
										a(target="_blank" href="http://github.com/Dennchik/Clear-fit")._link 
											+iconfont('arrow-right')
											| coronaWebsite
											span &nbsp;(
												+iconfont('git-hub')
												| Git-rep...) 
		.setting-menu._settings
			._wrapper 
				ul._list 
					li
						a._link(href="#") Параметры 
				ul._list
					li._parent 
						a._link.-sub-link(href="#") Темы
							+iconfont('angle-right')
						.submenu-settings._sub-menu
							ul._list 
								li
									a._link(href="#") Светлая
								li
									a._link(href="#") Темная 
								li
									a._link(href="#") Настраиваемая
					li 
						a._link(href="#") Git - Hub
				ul._list
					li 
						a._link(href="#") Проекты (в работе)