.mainslide.hello-page__row
  ._body._swiper 
    ._slide
      .content-mainslide._content
        ._image
          img(src="@@webRoot/img/main/screen-4.png" alt="image")  
    ._slide
      .content-mainslide._content 
        ._image
          img(src="@@webRoot/img/main/screen-3.png" alt="image") 
    ._slide 
      .content-mainslide._content
        ._image
          img(src="@@webRoot/img/main/screen-2.png" alt="image") 
    ._slide 
      .content-mainslide._content
        ._image
          img(src="@@webRoot/img/main/screen-1.png" alt="image") 
    ._slide
      .content-mainslide._content
        ._image
          img(src="@@webRoot/img/main/screen-4.png" alt="image") 
    ._slide
      .content-mainslide._content
        ._image
          img(src="@@webRoot/img/main/screen-3.png" alt="image") 
    ._slide
      .content-mainslide._content
        ._image
          img(src="@@webRoot/img/main/screen-2.png" alt="image") 
    ._slide
      .content-mainslide._content
        ._image
          img(src="@@webRoot/img/main/screen-1.png" alt="image") 