.mainslide__body._swiper
  .mainslide__slide
    .content-mainslide.mainslide__content
      ._image
        img(src="@@webRoot/img/main/code-snippet-2.png" alt="")
  .mainslide__slide
    .content-mainslide.mainslide__content
      ._image
        img(src="@@webRoot/img/main/code-snippet-2.png" alt="")
  .mainslide__slide 
    .content-mainslide.mainslide__content
      ._image
        img(src="@@webRoot/img/main/code-snippet-2.png" alt="")
  .mainslide__slide
    .content-mainslide.mainslide__content
      ._image
        img(src="@@webRoot/img/main/code-snippet-2.png" alt="")     
  .mainslide__slide
    .content-mainslide.mainslide__content 
      ._image
        img(src="@@webRoot/img/main/code-snippet-2.png" alt="")
  .mainslide__slide 
    .content-mainslide.mainslide__content
      ._image
        img(src="@@webRoot/img/main/code-snippet-2.png" alt="")
  .mainslide__slide
    .content-mainslide.mainslide__content
      ._image
        img(src="@@webRoot/img/main/code-snippet-2.png" alt="")
  .mainslide__slide 
    .content-mainslide.mainslide__content
      ._image
        img(src="@@webRoot/img/main/code-snippet-2.png" alt="")
  .mainslide__slide
    .content-mainslide.mainslide__content
      ._image
        img(src="@@webRoot/img/main/code-snippet-2.png" alt="")     
  .mainslide__slide 
    .content-mainslide.mainslide__content
      ._image
        img(src="@@webRoot/img/main/code-snippet-2.png" alt="")
  .mainslide__slide 
    .content-mainslide.mainslide__content
      ._image
        img(src="@@webRoot/img/main/code-snippet-2.png" alt="")        
.swiper-pagination 
.swiper-button-prev
.swiper-button-next
.swiper-scrollbar